.calendar {
  width: 350px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #0078d7;
  color: white;
  border-radius: 8px 8px 0 0;
}
.calendar-header h3 {
  margin: 0;
}
.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background: #f9f9f9;
  padding: 10px;
  text-align: center;
}
.calendar-days div {
  padding: 10px 0;
  font-weight: bold;
}
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  padding: 10px;
}
.calendar-grid div {
  padding: 10px;
  text-align: center;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.calendar-grid div:hover {
  background: #0078d7;
  color: white;
  cursor: pointer;
}
.current-day {
  background: #d74f00;
  color: rgb(226, 26, 26);
  font-weight: bold;
}
.a-day {
  background: #d74f00;
  color: rgb(26, 226, 133);
  font-weight: bold;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.topnav {
  overflow: hidden;
  background-color: #992d57;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: rgb(247, 244, 241);
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background:#992d57;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: antiquewhite;
  color:  #992d57;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #bd577e;
  color: white;
}

.topnav a{
  font-family: "Satisfy", serif;
  font-weight: 600;
 font-size: 2rem;
}

body{
  background-color: #f7cbdc;
}

.container{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.hover-container {
  position: relative;
  display: inline-block;
}

.hover-text {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.7);
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  bottom: 125%; /* Position above the element */
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 1;
}

.hover-container:hover .hover-text {
  visibility: visible;
}