*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.topnav {
    overflow: hidden;
    background-color: #992d57;
    position: relative;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: antiquewhite;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    background:#992d57;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  /* Add a grey background color on mouse-over */
  .topnav a:hover {
    background-color: antiquewhite;
    color:  #992d57;
  }
  
  /* Style the active link (or home/logo) */
  .active {
    background-color: #bd577e;
    color: white;
  }

  .topnav a{
    font-family: "Satisfy", serif;
    font-weight: 600;
   font-size: 2rem;
  }

  body{
    background-color: #f7cbdc;
  }

  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    
  }
 #tutorForm{
    width: 60%;
 }

  #tutorForm > input{
    height: 2.5rem;
    border-radius: 8px;
    padding-left: 3px;
    background-color: #f3ebef;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
  }
  #statusA, #statusI{
    color: #992d57;
  }

  .course > select{
    height: 2.5rem;
    border-radius: 8px;
    padding-left: 3px;
    background-color: #f3ebef;
    color: #992d57;
    margin-top: 10px;
    margin-bottom: 1rem;
  }

  .course > label{
    color: #992d57;
    margin-bottom: 8px;
  }

  .statusLabel{
    margin-bottom: 3px;
    color: #992d57;
  }

  #tutorForm > button{
    margin-top: 1rem;
    border-radius: 6px;
    background-color: #f3ebef;
    color: #992d57;
    padding: 2px;
    font-family: "Satisfy", serif;
    width: 4rem;
    font-weight: 700;
    font-size: 1.4rem;
  }

  #student{
    margin-top: 1rem;
    border-radius: 8px;
    background-color: #f3ebef;
    color: #992d57;
    padding: 2px;
    font-family: "Satisfy", serif;
    width: 40%;
    font-weight: 700;
    font-size: 1.2rem;

  }
  
  #save{
    margin-top: 1rem;
    border-radius: 6px;
    background-color: #f3ebef;
    color: #992d57;
    padding: 2px;
    font-family: "Satisfy", serif;
    width: 4rem;
    font-weight: 700;
    font-size: 1.2rem;

  }
 